@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
    background-color: white;
}
.sections-header {
    color: #18B4CF;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}
.header {
    height: 70px;
    background-color: #313131;
}

.nav-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-container {
    display: flex;
    align-items: center;

}

.nav-logo {
    margin: 0 30px;
}
.nav-title {
    color: white;
    font-weight: 700;
    font-size: 22px;

}
.nav-items {
    display: flex;
}
.nav-items-text {
    list-style-type: none;
    margin: 0 18px;
}
.nav-items-text-link {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-items-text-link:hover {
    color: #14B9D5;
}
.search-container {
    width: 70px;
    background-color: black;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

}
.latest-news {
    height: 369px;
    background-image: url(../img/header-background.png);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

}
.latest-news::before {
    content: '';
    position: absolute;
    top: 70px;
    display: block;
    width: 100%;
    height: 370px;
    

}
.latest-news-header{
    color: white;
    padding-top: 165px;
    position: relative;
    z-index: 2;
    margin: 0;
    padding-bottom: 0;
}
.latest-news-header{
    color: white;
    padding-top: 165px;
   
}
.latest-news-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-news-button {
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 4px;
    background-color: #89CA62;
    font-size: 18px;
    color: #fff;
    margin: 45px 10px;
    
}
.button-blue {
    background: #14B9D5;

}
.post-section {
    background-color: #F2F2F2;
}
.posts-container {
    display: flex;
    justify-content: center;

}
.post-item {
    width: 370px;
    margin-bottom: 30px;
    margin: 0 15px 30px 15px;
}
.post-name {
    color: #353A3D;
    font-size: 18px;
    text-align: center;
    font-weight: 700px;
    padding: 20px 0 22px 0;
    background-color: #fff;
}
.our-most-popular-client-section {
    background-image: url(../img/clients-background.jpeg);
    height: 588px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template: 150px 90px 160px / auto;
    position: relative;


}
.our-most-popular-client-section::after {
    content: '';
    position: relative;
    top: 0px;
    display: block;
    width: 100%;
    height: 588px;
    z-index: 1;
    

}
.our-most-popular-header {
    color: white;
    font-size: 32px;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;


}
.section-separator {
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: none;
    align-self: flex-end;
    
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;  
    position: relative;
    z-index: 2;
    
}
.clients-logo {
    margin: 0 20px;

}
.top-rated-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
   
.top-rated-items {
    width: 100%;
}

.hot-news {
    margin: 0 auto;
    display: grid;
    justify-items: center;

}
.container-hot-news {
    display: grid;
    justify-items:start;
    grid-template-rows: 259px 418px 418px 259px;
    grid-row-gap: 44px;
    grid-column-gap: 35px;
    padding-bottom: 71px;
    grid-template-areas:
"item1 item1 item1 item2"
"item3 item3 item4 item4"
"item5 item5 item6 item6"
"item7 item8 item8 item8";

}
.hot-news-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    padding-right: 24px;

}
.news-text {
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    width: 527px;
}
.p-right {
    width:350px;
}
.hotel-name{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 11px;
}

.article-items-post1 {
    margin: 0;
    padding: 0;
    display: grid;
    grid-area: item1;
    grid-template-columns:483px 374px;
    background: #F9F7F7;

}
.article-items-post2 {
    grid-area: item2;
    background: #F9F7F7;

}
.article-items-post3 {
    grid-area: item3;
    grid-template-columns:554px 554px ;
    background: #F9F7F7;

}
.article-items-post4 {
    grid-area: item4;
    background: #F9F7F7;

}
.article-items-post5 {
    grid-area: item5;
    background: #F9F7F7;

}
.article-items-post6 {
    grid-area: item6;
    background: #F9F7F7;

}
.article-items-post7 {
    grid-area: item7;
    background: #F9F7F7;
}
.article-items-post8 {
    grid-area: item8;
    display: grid;
    grid-template-columns:483px 374px;
    background: #F9F7F7;

}
.footer-container {
    display: grid;
    justify-items: center;
    height: 80px;
    background-color: #000000;
    margin: 0 auto;
}
.footer-information {
    display: grid;
    grid-template-columns: 512px 105px;
    grid-column-gap: 559px;
    justify-items: center;
}
.copyright {
    padding-top: 29px;
    padding-bottom: 30px;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
}
.footer-logo {
    display: grid;
    grid-template-columns: 38px 64px;
    padding-top: 29px;
    padding-bottom: 30px;
}